flow.json
[
    {
        "id": "e19203f49e87451d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f13bdc98c355aa9",
        "type": "inject",
        "z": "e19203f49e87451d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "23a3f852652d8091"
            ]
        ]
    },
    {
        "id": "23a3f852652d8091",
        "type": "http request",
        "z": "e19203f49e87451d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "74564ece4286d9f0"
            ]
        ]
    },
    {
        "id": "bfe6f7c3ec5eb357",
        "type": "debug",
        "z": "e19203f49e87451d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "74564ece4286d9f0",
        "type": "json",
        "z": "e19203f49e87451d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 500,
        "wires": [
            [
                "bfe6f7c3ec5eb357"
            ]
        ]
    }
]